---
title: Buttons
---
<h1>3.0 &mdash; Buttons</h1>

<% styleguide_block '3.0' do %>
  <a class="button $modifier_class">Button</a>
<% end %>

<pre>
  &lt;a class="button $modifier_class"&gt;Button&lt;/a&gt;
</pre>
