<nav>
  <ul>
    <li><a href="/">Overview</a></li>
    <li><a href="/styleguide/01_structure.html">1.0 Page Structure</a></li>
    <li><a href="/styleguide/02_colors.html">2.0 Colors</a></li>
    <li><a href="/styleguide/03_typography.html">3.0 Typography</a></li>
    <li><a href="/styleguide/04_links.html">4.0 Links</a></li>
    <li><a href="/styleguide/05_buttons.html">5.0 Buttons</a></li>
    <li><a href="/styleguide/06_forms.html">6.0 Forms</a></li>
    <li><a href="/styleguide/07_tables.html">7.0 Tables</a></li>
    <li><a href="/styleguide/08_dialogs.html">8.0 Dialogs</a></li>
    <li><a href="/styleguide/09_graphic.html">9.0 Graphic Elements</a></li>
    <li><a href="/styleguide/10_navigation.html">10.0 Navigation</a></li>
    <li><a href="/styleguide/11_modules.html">11.0 Modules</a></li>
  </ul>
</nav>
