<nav>
  <ul>
    <li><a href="/">Overview</a></li>
    <li><a href="/styleguide/01_typography.html">1.0 Page Structure</a></li>
    <li><a href="/styleguide/02_forms.html">2.0 Colors</a></li>
    <li><a href="/styleguide/03_buttons.html">3.0 Buttons</a></li>

  </ul>
</nav>
